main{
    margin: 0, 0, 0, 0;
    height: auto;
}
body{
    background-color: #0A1D30;
    height: auto;
    margin: 0, 0, 0, 0;
}
#cabeza{
    background-color: #5a88ad;
    width: 99.15%;
    height: 10vh;
    display: inline-block;
    position: fixed;
}
#logo{
    display: inline-block;
    width: 30%;
    float: left;
}
#logo p{
    color:white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    width: auto;
    margin-left: 5vh;
}
.menu{
    display: inline-block;
    width: 70%;
}
.menu p{
    color:white;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    font-size: 30px;
    display: inline-block;
    margin-left: 7vh;
}
#cuerpo{
    display: inline-block;
    width: 100%;
}
#categoria{
    width: 20%;
    padding-top: 16vh;
    padding-bottom: 8vh;
    display: inline-block;
}
#categoria p, span, label{
    color: white;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    font-size: 25px;
    padding-left: 5vh;
}
.icono{
	max-height: 6vh;
	padding: 1vh;
}
#nft{
    float: right;
    width: 78%;
    height: 85vh;
    margin-top: 12vh;
    display: inline-block;
    border-left: 5px solid #8D8DFE;
}
#renglon{
    width: 18%;
    display: inline-block;
    margin-left: 2.3vh;
    background-color: #898f94;
}
.img{
    margin-top: 2vh;
    margin-left: 0.5vh;
    max-height: 26.8vh;
}
#ame{
    background-color: #FFD60B;
    margin-left: 3.5vh;
}
#gawr{
    background-color: #0ECFFF;
}
#cali{
    background-color: #E50C80;
}
#chiken{
    background-color: #E5870C;
}
#ina{
    background-color: #7C0CC6;
}
.titulo{
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 4vh;
    text-decoration: none;
    color:white;
    margin-left: 1vh;
    margin-right: 1vh;
}