main{
    margin: 0, 0, 0, 0;
    height: auto;
}
body{
    background-color: #0A1D30;
    height: auto;
    margin: 0, 0, 0, 0;
}
#cabeza{
    background-color: #5a88ad;
    width: 99.15%;
    height: 10vh;
    display: inline-block;
    position: fixed;
}
#logo{
    width: 30%;
    float: left;
}
#logo p{
    color:white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    width: auto;
    margin-left: 5vh;
}
.menu{
    display: inline-block;
    width: 70%;
}
.menu p, a{
    color:white;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    font-size: 30px;
    display: inline-block;
    margin-left: 7vh;
    text-decoration: none;
}
#cuerpo{
    display: inline-block;
    width: 100%;
}
#categoria{
    width: 20%;
    padding-top: 16vh;
    padding-bottom: 8vh;
    display: inline-block;
}
#categoria p, span, label{
    color: white;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    font-size: 25px;
    padding-left: 5vh;
}
#imagen{
    max-height: 160px;
    padding: 5vh;
}
#nft{
    float: right;
    width: 78%;
    height: 85vh;
    margin-top: 12vh;
    border-left: 5px solid #8D8DFE;
}
#renglon{
    display: inline-block;
    width: 30%;
    margin-left: 2.3vh;
}
.titulo{
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 4vh;
    color:white;
    margin-left: 1vh;
    margin-right: 1vh;
    display: inline-block;
}
.comprar{
    margin-left: 1vh;
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 20px; padding: 11px; 
    border-radius: 25px; 
    font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal;
    background-image: linear-gradient(to right, rgb(114, 28, 164) 0%, rgb(206, 35, 92) 50%, rgb(117, 20, 20) 100%); 
    display: inline-block;
}
.des{
    width: 100%;
    margin-left: 1vh;
    color:white;
}
#i{
    display: inline-block;
    width: 50%;
    margin-top: 2vh;
}
#img{
    display: inline-block;
    max-height: 80vh;
    background-color: #E5870C;
}